.jumbotron {
    margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #93c54b;
}

ul {
    margin: 0;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
