{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>ABOUT ME</h1>
            <div class="about-body">
                <p class="lead">
                    Hello everyone! This is Shraddha Duwal.<br>
                    Address: Kamalbinayak-10, Bhaktapur <br>
                    Contact No: 9843519720 <br>
                    Email_id: shraddha.duwal@gmail.com
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
